@import "../libs/bootstrap/dist/css/bootstrap.css";
@import "../libs/codemirror/lib/codemirror.css";

.CodeMirror
{
    height: auto;

    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.CodeMirror-scroll
{
    overflow-y: hidden;
    overflow-x: auto;
}

.alert-danger
{
    display: none;

    border-top: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 0;
    margin-top: -4px;
    margin-bottom: -20px;
    padding: 3px 7px;
    height: 24px;
}

.row
{
    margin-top: 40px;
}

#unit
{
    margin-top: 20px;
}

#version
{
    width: auto;
    margin-right: 10px;
}

#build-strict-checkbox-label
{
    font-weight: normal;
}

#match-data-textarea
{
    margin-top: 20px;
}

#unit .CodeMirror-scroll
{
    height: 100px;
}

#match-data-textarea + .CodeMirror
{
    margin-top: 25px;
}

[class*="version_0."] #build-strict-checkbox-label,
[class*="version_0."] #match-data-textarea,
[class*="version_0."] #match-data-textarea + .CodeMirror,
[class*="version_0."] #match-data-error
{
    display: none;
}

[class*="version_1."] #match-path-textarea + .CodeMirror
{
    height: 30px;
}

[class*="version_1."] #match-result-textarea + .CodeMirror .CodeMirror-scroll
{
    height: 155px;
}
